* {
  box-sizing: border-box;
  margin: 2;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

h1 {
  color: darkgoldenrod;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  align-items: center;
  text-align: center;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  background: none;
}

.btn {
  display: none;
  justify-content: center;
  text-align: center;
  padding: 20px 32px;
  border-radius: 8px;
}
.elem {
  border: 0.10px solid #333;
}
.hover {
  background: #333;
}
.sketch {
  display: grid;
  grid-gap: 0.1em;
  width: 500px;
  height: 500px;
  background: none;
  padding: 0.2em;
  border: none;
}
.random {
  background: lightslategray;
}